# `for` Loop Essentials

Python has a second type of loop, a **`for` loop**. It's more common, arguably easier to use correctly, and especially helpful if you need to perform some operations for every element in a list (or, similarly, for every character in a string). You've already seen an example. This look familiar?

In [ ]:
studious_saint = ['st.', 'thomas', 'aquinas']
capitalized = ''

for name in studious_saint:
    capitalized += name[:1].upper() + name[1:] + ' '

capitalized = capitalized.strip()
capitalized

Another example might make the pattern clearer:

In [ ]:
for number in [5, 4, 3, 2, 1]:
    print(number)

print('Blast off!')

`for` and `while` loops both have a code block that's executed on each loop, but in place of the `while` loop's condition, a `for` loop has a list (or other [iterator]() -- we'll learn more about those later) that it works through. So the pattern is:

```
for <variable_name> in <list (or other iterator)>:
  <code_block>
```

Within the code block, the `for`-loop variable points to the current list item. Thus, in the countdown example,
  - the first time the loop executes, `number` points to `5`
  - the second time the loop executes, `number` points to `4`
  - ...
  - the last time the loop executes, `number` points to `1`

You can use any valid variable name when defining a `for` loop, but it's best to use a descriptive name. If your list contains names, `name` is a pretty good variable name. If your list contains numbers, maybe `number` is a good variable name (although maybe, depending on the context, you can come up with something more specific).

The `for` loop ends once the list has been exhausted. So it's much harder (but not impossible!) to write an infinite `for` loop.

## Example: Looping through Characters in a String

I said that you can use a `for` loop to work through the characters in a string. Here's an example that capitalizes every vowel:

In [ ]:
capitalized_vowels = ''

for letter in 'the quick brown fox jumps the lazy dog':
    if letter in ['a', 'e', 'i', 'o', 'u']:
        capitalized_vowels += letter.upper()
    else:
        capitalized_vowels += letter

capitalized_vowels

You _could_ have turned the string into a list of characters, looped over it, and then joined a list of characters back into a string. But why bother when you can loop over the characters directly?

## Exercise: Remove Spaces Using a `for` Loop

Now you try. Using the example, above, as a model, try to write a `for` loop that will remove all the spaces between the words in `sentence`.

In [ ]:
sentence = 'the quick brown fox jumps the lazy dog'
without_spaces = ''

# add your for loop here

In [ ]:
assert(without_spaces == 'thequickbrownfoxjumpsthelazydog')

## Exercise: Filter a List

Let's try another. Imagine you have a list of numbers. Can you use a `for` loop to generate a new list that contains only those elements in the original list that are divisible by 3? 

**Hints** 
 - to test if a number is divisible by 3, you could use the *modulolo* operator: `num % 3 == 0`
 - to add an element to a list, you can use the `append` method, for example `some_list.append(new_element_to_add)`

In [ ]:
numbers = [3, 4, 7, 9, 12, 13, 14, 21, 23, 24, 33]
numbers_divisible_by_3 = []

# add your for loop here

In [ ]:
assert(numbers_divisible_by_3 == [3, 9, 12, 21, 24, 33])

## `range` and `for` Loops

Sometimes you want to use a `for` loop to repeat some code a certain number of times. You'll often see people use `range` to do so.

`range` is a function that returns something iterator-like. Here's an example:

In [ ]:
for n in range(10):
    print(n)

The details aren't super important at the moment. It'd be good enough to think that `range(10)` generated a list starting at `0` and going up to (but not including) `10`. Starting at `0` is a little unintuitive (and sometimes annoying), but it does give you a list that's exactly `10` items long.

If you wanted to start at a different number, you could:

In [ ]:
one_to_twenty = []

for i in range(1, 21):
    one_to_twenty.append(i)

one_to_twenty

That time, we passed two arguments to `range`. The first argument determines the first number in the range (inclusive), the second argument determines the last number in the range (exclusive. You could have gotten the same thing by passing the the range object to the `list` function (which, as the name suggests, turns iterators and iterator-like things into lists):

In [ ]:
list(range(1, 21))

## Exercise: All the Multiples of Three Less Than 1000

Now that you know a little more about `range`, let's use it to solve a problem. It's a variation on a problem you solved, above. How can you use a `for` loop to construct a list of all the multiples of three that are less than 1000? Above, we filtered a list so that the result contained only numbers divisible by three. We could use the same strategy *if only we had a list from 1 to 1000*. But no one would want to type out a list that long. Luckily, with `range`, you don't have to . . .

In [ ]:
multiples_of_three = []

# add your for loop here

In [ ]:
assert(len(multiples_of_three) == 334) # tests that you have the right number of multiples
assert(all([el % 3 == 0 for el in multiples_of_three])) # tests that all the elements in your list are divisible by three